
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sofadi+One&display=swap');

:root {
  --priColorGreen: #f5b083;;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  /* font-family: "Satoshi", sans-serif; */
  font-family: "Outfit", sans-serif !important;

  /* width: 100vw; */
  overflow-x: hidden;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

p{
  /* font-size: 15px; */
  font-size: 1.7rem;
}